

<div   style="background-image: url('{{section.settings.Headmaster |img_url: '1100x' }}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container hero" style="height: 100vh" >
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-12 mb-4 white-text text-center">
            <h1 class="title-hero  h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 "
              >{{section.settings.title}}</h1>
            
            <div class="my-4" >{{section.settings.parrafo}}</div>
            <a class="btn btn-outline-white mt-3" >Saber más</a>
           
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>

<style lang='scss'>
{% assign header_font = section.settings.title_hero %}
{{ header_font | font_face }}

.title-hero {
  font-family: '{{header_font.family}}'; 
}
.hero {
  height: 100vh !important; 
}
.parrafo-hero {
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
}
.btn-outline-white {
  background-color: #EA7F7F; 
  
}
a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}
.container {
  height: 100vh; 
}

    
  h1 {
    letter-spacing: 8px;
  }

  h5 {
    letter-spacing: 3px;
  }

  .hr-light {
    border-top: 3px solid #fff;
    width: 80px;
  }
</style>
<script>

new WOW().init();
</script>

{% schema %}
{   
  "name": "Headmaster",
  "settings": [
    {
      "type": "image_picker",
      "id": "Headmaster",
      "label": "Headmaster"
    },
    {
      "type":      "text",
      "id":        "title",
      "label":     "title",
      "default":   "BENITO",
      
      "placeholder": "title"
     
},
{
   "type": "richtext",
   "id": "parrafo",
   "label": "párrafo"
   
},
 {
   "type":    "font_picker",
   "label":   "Text",
   "id":      "title_hero",
   "default": "helvetica_n4"
}
  ],
 "presets": [  
    {
      "name": "hero_benito",
      "category": "hero"
    }
  ]
}
{% endschema %}

{% stylesheet %}

.container-fluid {
   padding: 0px;
}





.main-content {
 padding: -35px; 
 
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}